.about > ul {
	display: flex;
}
.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.about-item {
	margin-right: 30px;
	position: relative;
}
.about-item:last-child {
	margin-right: 0;
}
.about-item > .label {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accessary-color);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(47, 48, 58, 0.8);
}