.form-layout {
	padding: 40px;
}
/* label {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
} */
label:nth-last-child(3) {
	margin-bottom: 20px;
}
.form-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 12px;
}
.label-title {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.input-wrap {
	display: block;
	position: relative;
	margin-top: 4px;
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: var(--cubic-bezier);
}
.data-form-input {
	display: block;
	width: 100%;
	height: 40px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition-property: border-color;
	transition-duration: 250ms;
	transition-timing-function: var(--cubic-bezier);
	outline: transparent;
}
.input-wrap:hover,
.input-wrap:focus-within,
.data-form-input:hover,
.data-form-input:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
}
.person-form-icon {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 12px;
	width: 18px;
	height: 18px;
}
.comment {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-top: 4px;
	color: rgba(117, 117, 117, 0.5);
	resize: none;
}
.comment::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.checkbox-form {
	display: block;
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	text-align: center;
	cursor: pointer;
}

.checkbox-input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	position: absolute;
}

.checkbox-icon {
	display: inline-block;
	border: 2px solid var(--text-color);
	border-radius: 2px;
	vertical-align: sub;
	transition-property: background-color, border-color;
	transition-duration: 250ms;
	transition-timing-function: var(--cubic-bezier);
}

.checkbox-vector {
	display: block;
	width: 16px;
	height: 15px;
}

.checkbox-statute {
	display: inline;
	margin-left: 8px;
}
.regulations-link {
	color: var(---accent-color);
	text-decoration: underline;
}

.checkbox-input:checked + .checkbox-icon {
	background-size: contain;

	margin-left: auto;
	margin-right: auto;

	background-color: var(--accent-color);
	border-color: var(--accent-color);
}

.form-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--accessary-color);
	background-color: var(--accent-color);
	margin: 0 auto;
	padding: 10px 76px;
}
