.team {
	background-color: var(--secondary-background);
}
.team__list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.team__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 50px;
}
.team__item {
	width: 270px;
	background: var(--accessary-color);
	box-shadow: var(--box-shadow-team);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	margin-right: var(--item-margin);
	&:last-child {
		margin-right: 0;
	}
}
.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.team__text {
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	margin-top: 10px;
	margin-bottom: 16px;
}
.team__figcaption {
	padding-top: 30px;
	padding-bottom: 30px;
	align-items: center;
}
